@using System.Security.Claims;

<ul class="navbar-nav">
    @if (User.Identity.IsAuthenticated)
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="จัดการข้อมูล">@User.Identity.Name</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-controller="Account" asp-action="Logout" asp-route-returnUrl="@Url.Action("Login", "Account", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark">ออกจากระบบ</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="SignUp">สมัครสมาชิก</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-controller="Account" asp-action="SignIn">เข้าสู่ระบบ</a>
        </li>
    }
</ul>
